* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

.limite {
  width: 85%;
  margin: auto;
  /* padding-right: 100px;
  padding-left: 100px; */
}

a {
  text-decoration: none;
  color: #262626;
}

/* header */
.logo a {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #5e17eb;
  font-size: 40px;
}

.head {
  display: flex;
  color: #262626;
  height: 10vh;
  align-items: center;
}

.logo {
  width: 35%;
}

.nav-manu {
  width: 65%;
  justify-content: flex-end;
}

.nav-manu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-manu li {
  padding: 0px 25px;
  font-size: 25px;
}

.nav-manu a:hover {
  color: #a785ea;
}

/* fim do cabeçalho */

/* estilizando o main */
.conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 30px 10px;  */
  /* height: 50vh; */
}

.main-sec h1 {
  font-size: 45px;
  padding: 70px 0 30px 0;
  color: #262626;
  font-family: 'Righteous', cursive;
}

.main-sec p {
  font-size: 22px;
  padding: 15px 0 20px 0;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 10px 0 20px 0;
}

.links li {
  /* padding: 16px 30px 0 0; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.links a {
  color: #262626;
  font-size: 22px;
  padding: 20px 30px 20px 0;
}

.links a:hover {
  text-decoration: underline #5e17eb;
  color: #a785ea;
}

/* Estilização de imagem */
.image img {
  width: 470px;
}

/* estilização das sections */

/* .sobre p {
  font-size: 20px;
  color: white;
} */

.sobre-content {
  display: flex;
  /*
  justify-content: center;
  align-items: center; */
}

.sobre-img img {
  max-width: 85%;
  border-radius: 50%;
  /* max-width: 100%;
  height: 200px; */
}

.sobre-img {
  width: 40%;
  /* flex:4 1; */
  /* background-color: red; */
}

.sobre-info--historia {
  width: 60%;
  margin-top: 60px;
  margin-left: 60px;
  font-size: 25px;
}

.sobre .sobre-body {
  display: flex;
  background-color: red;
}

.assinatura {
  font-family: 'Whisper', cursive;
  text-align: end;
}

.sec-tittle {
  font-size: 25px;
  font-family: 'Righteous', cursive;
  padding: 35px 0;
  text-align: center;
  letter-spacing: 4px;
}

.dark {
  color: wheat;
  background-color: #5e17eb;
}

/* estilização das skills */
.skills .sec-body {
  display: flex;
  margin-bottom: 20px;
  /* justify-content: space-around; */
}

.content-skills-icons {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-skills-icons div {
  display: flex;
  flex-direction: row;
}

.content-skills-icons img {
  padding: 30px;
  width: 100px;
  cursor: pointer;
}

.content-skills-icons img:hover {
  width: 110px;
}

.content-skills-desc {
  background-color: #5e17eb;
  font-family: 'Righteous', cursive;
  width: 50%;
  border-radius: 20px;
}

.content-skills-desc h1 {
  color: #fff;
  text-align: center;
  padding: 25px 0;
  font-size: 30px;

}

.content-skills-desc div {
  padding: 10px 50px;
  margin: auto;
}

.content-skills-desc div p {
  font-size: 18px;
  color: #FFF;
}

/* Fim das skills */

/* Inicio dos projetos. */

.html {
  background-color: #ff4500;
  padding: 2px;
  border-radius: 4px;
}

.css {
  background-color: #2E9CF3;
  padding: 2px;
  border-radius: 4px;
}

.js {
  background-color: #FFDF00;
  padding: 2px;
  border-radius: 4px;
}

.card {
  width: 330px;
  padding-bottom: 20px;
}

.card-img img {
  max-width: 100%;
}

.card-desc {
  background-color: #FFF;
  margin-top: -4px;
}

.card-desc p {
  color: #262626;
  padding: 25px 15px;
  font-family: 'Righteous', cursive;
  font-size: 18px;
}

.btns {
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  padding: 10px 0 35px 0;
}

.btns a {
  border: solid 1px #262626;
  padding: 7px;
  width: 130px;
  transition: ease 1s;
}

.btns a:hover {
  background-color: #5e17eb;
  border: none;
}

.txt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Righteous', cursive;
}

.txt-btn p {
  padding-left: 10px;
  font-size: 18px;
}

.projects .sec-body {
  display: flex;
  justify-content: space-between;
}

/* fim dos projetos */

/* Inicio do footer */

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .info {
  font-family: 'Righteous', cursive;
  font-size: 20px;
  padding: 20px 0;
}

footer .info a {
  text-decoration: underline;
}

footer .icones img {
  width: 40px;
  padding: 10px;
}

@media (max-width: 900px) {
  .logo {
    width: 35%;
  }

  .logo a {
    font-size: 30px;
  }

  .nav-manu {
    width: 65%;
  }

  .nav-manu li {
    font-size: 20px;
    padding: 0 15px;
  }

  /* fim do header */
  /* inicio do main */
  .main-sec h1 {
    font-size: 30px;
    padding: 0;
  }

  .main-sec p {
    font-size: 18px;
    padding: 15px 0;
  }

  .links a {
    font-size: 18px;
    padding: 10px 20px 10px 0;
  }

  .image img {
    width: 300px;
  }

  /* fim do main */
  /* inicio do sobre mim */
  .sec-tittle {
    font-size: 20px;
    padding: 20px 0;
  }

  .sobre-info--historia {
    margin: 0;
    padding: 5px;
    font-size: 20px;
  }

  /* fim do sobre mim */
  /* inicio das skills */
  /* fim das skills */
  /* inicio dos projetos */
  .projects .sec-body {
    flex-direction: column;
  }

  .card {
    width: 450px;
    margin: auto;
  }

  .card-desc p {
    padding: 10px 15px;
  }

  .btns {
    padding: 10px 0;
  }
}

@media (max-width: 600px) {

  /* inicio do main */
  .conteudo {
    margin-top: 10px;
  }

  .main-sec h1 {
    font-size: 25px;
  }

  .main-sec p {
    font-size: 15px;
    padding: 10px 0 0 0;
  }

  .links a {
    font-size: 14px;
    padding: 5px 10px 5px 0;
  }

  .image img {
    width: 230px;
  }


  /* inicio do sobre */
  .sobre-content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sobre-img img {
    max-width: 100%;
  }

  .sobre-img {
    width: 50%;
  }

  .sobre-info--historia {
    width: 100%;
  }

  /* inicio do skills */
  .skills .sec-body {
    flex-direction: column;
  }

  .content-skills-icons {
    width: 100%;
  }

  .content-skills-icons img {
    padding: 20px;
  }

  .content-skills-desc div {
    padding: 0px 30px;
    margin: auto;
  }

  .content-skills-desc {
    width: 100%;
  }

  .content-skills-desc div p {
    font-size: 15px;
    padding: 20px 0;
  }

  .content-skills-desc h1 {
    padding: 10px 0 0 0;
    font-size: 25x;
  }

}