* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.limite {
  width: 85%;
  margin: auto;
  /* padding-right: 100px;
  padding-left: 100px; */
}

/* @font-face {
    font-family: 'razed';
    src: url('/fonts/razed/HBM\ Razed\ Light\ \(personal\ use\ only\).ttf') format('truetype');
  } */
a {
  text-decoration: none;
  color: #262626;
}

.logo a {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #5e17eb;
  font-size: 30px;
}

header {
  display: flex;
}

.head {
  display: flex;
  justify-content: space-between;
  color: #262626;
  height: 10vh;
}


.head div {
  margin: 20px;
  padding: 25px 0;
}

.nav-manu {
  display: flex;
  flex-direction: row;
}

.nav-manu li {
  padding: 0px 25px;
  font-size: 20px;

}

.nav-manu a:hover {
  color: #a785ea;
}

/* fim do cabeçalho */

/* estilizando o main */
.conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 30px 10px;  */
  /* height: 50vh; */
}

.main-sec h1 {
  font-size: 50px;
  padding: 70px 0 25px 0;
  color: #262626;
  font-family: 'Righteous', cursive;
}

.main-sec p {
  font-size: 26px;
  letter-spacing: 1px;
  padding: 15px 0 20px 0;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 10px 0 20px 0;
}

.links li {
  /* padding: 16px 30px 0 0; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.links a {
  color: #262626;
  font-size: 22px;
  padding: 20px 30px 20px 0;
}

.links a:hover {
  text-decoration: underline #5e17eb;
  color: #a785ea;
}

/* Estilização de imagem */
.image img {
  width: 250px;
  height: 230px;
  border-radius: 50%;
}

/* estilização das sections */

/* .sobre p {
  font-size: 20px;
  color: white;
} */

.sobre-content {
  display: flex;
  /*
  justify-content: center;
  align-items: center; */
}

.sobre-img img {
  max-width: 100%;
  height: 200px;
}

.sobre-img {
  flex: 1;
  /* background-color: red; */
}

.sobre-info--historia {
  width: 600px;
  margin-left: 50px;
  font-size: 25px;
}

.sobre .sobre-body {
  display: flex;
  background-color: red;
}

.assinatura {
  font-family: 'Whisper', cursive;
  text-align: end;
}

.sec-tittle {
  font-size: 25px;
  font-family: 'Righteous', cursive;
  padding: 35px 0;
  text-align: center;
  letter-spacing: 4px;
}

.dark {
  color: wheat;
  background-color: #5e17eb;
}

/* estilização das skills */
.skills .sec-body {
  display: flex;
  margin-bottom: 20px;
  /* justify-content: space-around; */
}

.content-skills-icons {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-skills-icons div {
  display: flex;
  flex-direction: row;
}

.content-skills-icons img {
  padding: 30px;
  width: 100px;
  cursor: pointer;
}

.content-skills-icons img:hover {
  width: 110px;
}

.content-skills-desc {
  background-color: #5e17eb;
  font-family: 'Righteous', cursive;
  width: 50%;
  border-radius: 20px;
}

.content-skills-desc h1 {
  color: #fff;
  text-align: center;
  padding: 25px 0;
  font-size: 30px;

}

.content-skills-desc div {
  padding: 10px 50px;
  margin: auto;
}

.content-skills-desc div p {
  font-size: 18px;
  color: #FFF;
}