* {
    padding: 0;
    margin: 0;
}
.active {
    background-color: #5892ef;
}
body{
    background-color: rgb(182, 120, 120);
    font-family: 'Roboto Mono', monospace;
}
.bloco{
    border: solid;
    background-color: black;
    height: 64px;
    width: 64px;
}