* {
    padding: 0;
    margin: 0;
}
.active {
    background-color: #5892ef;
}
.botao{
    font-size: 30px;
    padding: 10px;
    border: solid 1px #ff478b;
    background-color: rgb(20, 24, 37);
    color: white;
    text-transform: uppercase;
}
h2{
    color: #ff478b;
    font-size: 24px;
}
.align{
    width: 80vw;
    margin: auto;
}
body{
    background-color: rgb(20, 24, 37);
    font-family: 'Roboto Mono', monospace;
    color: white;
}
.bloco{
    border: solid 1px;
    background-color: black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 1s;
}
a:hover{
    border-bottom: solid 2px #FF478B;
}
.header-nav__logo{
    padding: 25px;
    margin-left: -30px;
}
.header-nav__logo a::before{
    content: "\A";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FF478B;
    display: inline-block;
}
.header-nav{
    display: flex;
    justify-content: space-around;
}
.header-nav__itens ul{
    display: flex;
    flex-direction: row;
}
.header-nav__itens li{
    list-style: none;
    padding: 25px 30px;
}
.sec-main{
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    font-weight: 300;
}
.name{
    color: #ff478b;
}
.sec-projects ul{
    text-align: center;
    padding: 25px 0;
}
.sec-projects li{
    list-style: none;
    font-size: 22px;
    padding: 10px;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}
.sec-projects li:hover{
    color: #ff478b;
    font-size: 30px;
}
.sec-resume button{
    margin: 30px 0;
}
.sec-contact form{
    display: block;
}